.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.reward-card {
  margin-bottom: 20px;
}

.reward-card > .card-body {
  padding: 20px;
  text-align: center;
}

.reward-name {
  font-size: 1.3em;
}

.reward-code {
  font-size: 1.25em;
}

.point {
  font-size: 1.2em;
}